:root {
    --main-font: "Montserrat", sans-serif;
    --second-font: "Inter", sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.txt-deco {
    text-decoration: none;
}

.container {
    width: 100%;
}

.hero-bg {
    background-image: url(../images/hero_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 52px;
    height: 560px;
}

@media screen and (min-width: 340px) {
    .hero-bg {
        height: 600px;
    }
}

@media screen and (min-width: 375px) {
    .hero-bg {
        height: 650px;
    }
}

.hero-photo {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
}

.hero-slogan-box {
    width: 300px;
    height: 120px;
    border-radius: 42.46px;
    background-color: #0B5FC0;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.hero-slogan {
    width: 290px;
    height: 120px;
    border-radius: 42.46px;
    background-color: #ffffff;
    padding: 15px;
}

.hero-slogan-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #000;
    text-align: center;
}

.hero-btn-box {
    text-align: center;
    margin-top: 30px;
}

.hero-btn {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    background-color: #D12A2A;
    border-radius: 10.69px;
    border: none;
    width: 270px;
    height: 50px;
}




.section-contacts {
    background-color: #005dba;
    padding-top: 60px;
    padding-left: 16px;
    padding-bottom: 60px;

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-right: 16px;
    }
}

.contacts-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacts-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        font-size: 36px;
    }
}

.contacts-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 35px;
}

.contacts-phone-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.contacts-phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-phone-number {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}

.contacts-mail-box {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
        margin-left: 50px;
    }
}

.contacts-mail-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-mail {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}

.section-warning {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.warning-logo-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.warning-lifecare-logo {
    width: 189px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        width: 125px;
        height: 50px;
    }
}

.warning-note {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        margin-left: 10px;
    }
}

.warning-text {
    font-family: Inter;
    font-weight: 100;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    text-align: center;

    @media screen and (min-width: 375px) {
        font-size: 38px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 90px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 108px;
    }
}

.footer-box {
    background-color: #005dba;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}