:root {
    --main-font: "Montserrat", sans-serif;
    --second-font: "Inter", sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.txt-deco {
    text-decoration: none;
}

.container {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50%;
    z-index: 9999;
}

.header-box {
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
        height: 82px;
    }
}

.header-logo-link {
    margin-left: 20px;
    margin-right: auto;
}

.header-logo {
    width: 75px;
    height: 30px;

    @media screen and (min-width: 1024px) {
        width: 145px;
        height: 58px;
    }
}

.page-header-btn {
    margin-right: 25px;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.page-header-btn .header-close-menu {
    display: none;
}

.page-header-btn.is-open .header-close-menu {
    display: block;
}

.page-header-btn.is-open .header-menu {
    display: none;
}

.page-header-btn svg {
    pointer-events: none;
}

.menu-container {
    @media screen and (min-width: 1024px) {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        height: 106px;
        width: 800px;
    }

    @media screen and (min-width: 1440px) {
        padding-right: 50px;
        width: 1150px;
    }

    @media screen and (max-width: 1023px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background-color: #FFFFFF;
        padding-top: 30px;
        padding-left: 60px;
    }

}

.menu-container.is-open {
    display: flex;
}

.menu-list {
    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

.menu-list-item {
    @media screen and (max-width: 1023px) {
        margin-bottom: 37px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 40px;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 70px;
    }
}

.menu-list-link {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 20px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #D12A2A;

    @media screen and (min-width: 1440px) {
        font-size: 22px;
    }
}

.hero-bg {
    background-image: url(../images/hero_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 64px;
    height: 560px;
}

@media screen and (min-width: 340px) {
    .hero-bg {
        height: 600px;
    }
}

@media screen and (min-width: 375px) {
    .hero-bg {
        height: 650px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-bg {
        height: 690px;
        margin-top: 82px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-bg {
        height: 800px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-bg {
        height: 1000px;
    }
}

.hero-photo {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
}

@media screen and (min-width: 425px) {
    .hero-photo {
        width: 425px;
        height: 391.2px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .hero-photo {
        width: 659px;
        height: 522px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 80px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-photo {
        width: 815px;
        height: 644px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-photo {
        width: 1059px;
        height: 837px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-position {
        position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .hero-slogan-tumb {
        position: absolute;
        right: 0;
        top: 45%;
    }
}

@media screen and (min-width: 1920px) {
    .hero-slogan-tumb {
        top: 39%;
    }
}

.hero-slogan-box {
    width: 300px;
    height: 120px;
    border-radius: 42.46px;
    background-color: #0B5FC0;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

@media screen and (min-width: 1024px) {
    .hero-slogan-box {
        margin-top: 0;
        width: 400px;
        height: 130px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (min-width: 1440px) {
    .hero-slogan-box {
        width: 740px;
        height: auto;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-slogan-box {
        width: 940px;
    }
}

.hero-slogan {
    width: 348px;
    height: 120px;
    border-radius: 42.46px;
    background-color: #ffffff;
    padding: 15px;
}

@media screen and (min-width: 1024px) {
    .hero-slogan {
        width: 390px;
        height: 130px;
        height: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (min-width: 1440px) {
    .hero-slogan {
        width: 720px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-slogan {
        width: 920px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-slogan-img {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1920px) {
    .hero-slogan-img {
        width: 800px;
    }
}

.hero-slogan-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #000;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .hero-slogan-text {
        font-size: 72.22px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-slogan-text {
        font-size: 90px;
    }
}

.hero-btn-box {
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width: 1920px) {
    .hero-btn-box {
        margin-top: 50px;
    }
}

.hero-btn {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    background-color: #D12A2A;
    border-radius: 10.69px;
    border: none;
    width: 270px;
    height: 50px;
}

@media screen and (min-width: 1440px) {
    .hero-btn {
        width: 355px;
        height: 74px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1920px) {
    .hero-btn {
        width: 426px;
        height: 89px;
        font-size: 24px;
    }
}

.choice-box {
    height: 116px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .choice-box {
        height: 149px;
    }
}

.choice-img {
    width: 63px;
    height: 45px;
}

@media screen and (min-width: 1440px) {
    .choice-img {
        width: 98px;
        height: 61px;
    }
}

.choice-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .choice-text {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1440px) {
    .choice-text {
        font-size: 48px;
    }
}

.softcaps-section {
    padding-top: 30px;
    padding-bottom: 50px;
}

@media screen and (min-width: 1440px) {
    .softcaps-section {
        padding-top: 60px;
    }
}

.softcaps-bg {
    background: linear-gradient(to right,#D12A2A, #0B5FC0);
    position: relative;
}

.softcaps-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 0;
    height: 90px;
}

.softcaps-title-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .softcaps-title-box {
        margin-bottom: 60px;
    }
}

.softcaps-title {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(255, 255, 255, 0.2);
    width: 270px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

@media screen and (min-width: 1024px) {
    .softcaps-title {
        width: 469px;
        height: 70px;
    }
}

.softcaps-title-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .softcaps-title-text {
        font-size: 38px;
    }
}

@media screen and (min-width: 1024px) {
    .softcaps-tumb {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .softcaps-tumb {
        justify-content: space-between;
    }
}

.softcaps-main-img {
    padding-right: 20px;
    margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
    .softcaps-main-img {
        padding-right: 0;
        width: 599px;
    }
}

@media screen and (min-width: 1440px) {
    .softcaps-main-img {
        width: 799px;
    }
}

@media screen and (min-width: 1920px) {
    .softcaps-main-img {
        width: 1149px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .softcaps-tumb-position {
        margin-right: 100px;
    }
}

.softcaps-img {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .softcaps-img {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .softcaps-img {
        width: 428px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

.softcaps-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
    .softcaps-text {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .softcaps-text {
        margin-bottom: 60px;
    }
}

.softcaps-text-index {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .softcaps-text-index {
        font-size: 10px;
    }
}

.softcaps-btn-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .softcaps-btn-box {
        justify-content: end;
    }
}

.softcaps-manual-btn {
    width: 120px;
    height: 48px;
    background-color: #fff;
    border-radius: 12.2px;
    border: none;
}

@media screen and (min-width: 375px) {
    .softcaps-manual-btn {
        width: 160px;
    }
}

@media screen and (min-width: 1024px) {
    .softcaps-manual-btn {
        width: 178px;
        height: 58px;
    }
}

.softcaps-manual-btn-text {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #000;
}

@media screen and (min-width: 1024px) {
    .softcaps-manual-btn-text {
        font-size: 18px;
    }
}

.softcaps-details-btn {
    width: 120px;
    height: 48px;
    background-color: #D12A2A;
    border-radius: 12.2px;
    border: none;
    margin-left: 12px;
}

@media screen and (min-width: 375px) {
    .softcaps-details-btn {
        width: 160px;
    }
}

@media screen and (min-width: 1024px) {
    .softcaps-details-btn {
        width: 178px;
        height: 58px;
    }
}

.softcaps-details-btn-text {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .softcaps-details-btn-text {
        font-size: 18px;
    }
}

.softcaps-footnote {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 1024px) {
    .softcaps-footnote {
        font-size: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.softcaps-footnote-index {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .softcaps-footnote-index {
        font-size: 10px;
    }
}

.combi-section {
    padding-top: 30px;
    padding-bottom: 50px;
}

@media screen and (min-width: 1440px) {
    .combi-section {
        padding-top: 60px;
    }
}

.combi-bg {
    background: linear-gradient(to right, #0B5FC0, #D12A2A);
    position: relative;
}

.combi-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 0;
    height: 90px;
}

.combi-title-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .combi-title-box {
        margin-bottom: 60px;
    }
}

.combi-title {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(255, 255, 255, 0.2);
    width: 230px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

@media screen and (min-width: 1024px) {
    .combi-title {
        width: 469px;
        height: 70px;
        padding-right: 30px;
    }
}

.combi-title-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: auto;
}

@media screen and (min-width: 1024px) {
    .combi-title-text {
        font-size: 38px;
    }
}

@media screen and (min-width: 1024px) {
    .combi-tumb {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .combi-tumb {
        justify-content: space-between;
    }
}

.combi-main-img {
    padding-left: 20px;
    margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
    .combi-main-img {
        padding-right: 0;
        width: 599px;
    }
}

@media screen and (min-width: 1440px) {
    .combi-main-img {
        width: 799px;
    }
}

@media screen and (min-width: 1920px) {
    .combi-main-img {
        width: 1149px;
    }
}

@media screen and (min-width: 1024px) {
    .combi-tumb {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .combi-tumb-position {
        margin-left: 100px;
    }
}

.combi-img {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .combi-img {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .combi-img {
        width: 428px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

.combi-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
    .combi-text {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .combi-text {
        margin-bottom: 60px;
        text-align: start;
        padding-left: 100px;
    }
}

@media screen and (min-width: 1920px) {
    .combi-text {
        padding-left: 250px;
    }
}

.combi-text-index {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .combi-text-index {
        font-size: 10px;
    }
}

.combi-btn-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .combi-btn-box {
        justify-content: flex-start;
        margin-left: 100px;
    }
}

@media screen and (min-width: 1920px) {
    .combi-btn-box {
        margin-left: 250px;
    }
}

.combi-manual-btn {
    width: 120px;
    height: 48px;
    background-color: #fff;
    border-radius: 12.2px;
    border: none;
}

@media screen and (min-width: 375px) {
    .combi-manual-btn {
        width: 160px;
    }
}

@media screen and (min-width: 1024px) {
    .combi-manual-btn {
        width: 178px;
        height: 58px;
    }
}

.combi-manual-btn-text {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #000;
}

@media screen and (min-width: 1024px) {
    .combi-manual-btn-text {
        font-size: 18px;
    }
}

.combi-details-btn {
    width: 120px;
    height: 48px;
    background-color: #D12A2A;
    border-radius: 12.2px;
    border: none;
    margin-left: 12px;
}

@media screen and (min-width: 375px) {
    .combi-details-btn {
        width: 160px;
    }
}

@media screen and (min-width: 1024px) {
    .combi-details-btn {
        width: 178px;
        height: 58px;
    }
}

.combi-details-btn-text {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .combi-details-btn-text {
        font-size: 18px;
    }
}

.combi-footnote {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 1024px) {
    .combi-footnote {
        font-size: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.combi-footnote-index {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .combi-footnote-index {
        font-size: 10px;
    }
}

.gel-section {
    padding-top: 30px;
    padding-bottom: 50px;
}

@media screen and (min-width: 1440px) {
    .gel-section {
        padding-top: 60px;
    }
}

.gel-bg {
    background: linear-gradient(to right, #D12A2A, #0B5FC0);
    position: relative;
}

.gel-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 0;
    height: 90px;
}

.gel-title-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .gel-title-box {
        margin-bottom: 60px;
    }
}

.gel-title {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(255, 255, 255, 0.2);
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

@media screen and (min-width: 1024px) {
    .gel-title {
        width: 469px;
        height: 70px;
    }
}

.gel-title-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .gel-title-text {
        font-size: 38px;
    }
}

@media screen and (min-width: 1024px) {
    .gel-tumb {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .gel-tumb {
        justify-content: space-between;
    }
}

.gel-main-img {
    padding-right: 20px;
    margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
    .gel-main-img {
        padding-right: 0;
        width: 599px;
    }
}

@media screen and (min-width: 1440px) {
    .gel-main-img {
        width: 799px;
    }
}

@media screen and (min-width: 1920px) {
    .gel-main-img {
        width: 1149px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .gel-tumb-position {
        margin-right: 100px;
    }
}

.gel-img {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .gel-img {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .gel-img {
        width: 428px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1920px) {
    .gel-img {
        width: 556px;
    }
}

.gel-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px;
}

@media screen and (min-width: 1024px) {
    .gel-text {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .gel-text {
        margin-bottom: 60px;
        text-align: start;
    }
}

@media screen and (min-width: 1920px) {
    .gel-text {
        padding-left: 70px;
        padding-right: 100px;
    }
}

.gel-btn-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .gel-btn-box {
        justify-content: end;
        margin-right: 105px;
    }
}

@media screen and (min-width: 1920px) {
    .gel-btn-box {
        margin-right: 145px;
    }
}

.gel-manual-btn {
    width: 120px;
    height: 48px;
    background-color: #fff;
    border-radius: 12.2px;
    border: none;
}

@media screen and (min-width: 375px) {
    .gel-manual-btn {
        width: 160px;
    }
}

@media screen and (min-width: 1024px) {
    .gel-manual-btn {
        width: 178px;
        height: 58px;
    }
}

.gel-manual-btn-text {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #000;
}

@media screen and (min-width: 1024px) {
    .gel-manual-btn-text {
        font-size: 18px;
    }
}

.gel-details-btn {
    width: 120px;
    height: 48px;
    background-color: #D12A2A;
    border-radius: 12.2px;
    border: none;
    margin-left: 12px;
}

@media screen and (min-width: 375px) {
    .gel-details-btn {
        width: 160px;
    }
}

@media screen and (min-width: 1024px) {
    .gel-details-btn {
        width: 178px;
        height: 58px;
    }
}

.gel-details-btn-text {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .gel-details-btn-text {
        font-size: 18px;
    }
}

.gel-footnote {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 1024px) {
    .gel-footnote {
        font-size: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.gel-footnote-index {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .gel-footnote-index {
        font-size: 10px;
    }
}

.section-contacts {
    background-color: #005dba;
    padding-top: 60px;
    padding-left: 16px;
    padding-bottom: 60px;

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-right: 16px;
    }
}

.contacts-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacts-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        font-size: 36px;
    }
}

.contacts-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 35px;
}

.contacts-phone-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.contacts-phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-phone-number {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}

.contacts-mail-box {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
        margin-left: 50px;
    }
}

.contacts-mail-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-mail {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}

.section-warning {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 120px;
}

.warning-logo-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom:70px;
    }
}

.warning-lifecare-logo {
    width: 189px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        width: 125px;
        height: 50px;
    }
}

.warning-note {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    margin-bottom: 70px;

    @media screen and (min-width: 1024px) {
        margin-left: 10px;
    }
}

.warning-text {
    font-family: Inter;
    font-weight: 100;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    text-align: center;

    @media screen and (min-width: 375px) {
        font-size: 38px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 90px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 108px;
    }
}

.footer-box {
    background-color: #005dba;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
}